html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #0E0A1C;
}

*{
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  font-size: clamp(30px, 6vw, 92px);
  letter-spacing: -0.03em;
  box-sizing: border-box;
}

.light{
  color: #171614;
  background-color: #F1ECDE;
}

.light a{
  color: #171614;
}

.dark{
  color: #F1ECDE;
  background-color: #0E0A1C;
}

.dark a{
  color: #F1ECDE;
}

::-webkit-scrollbar{
  width: 0;
}

html, body, * {
  cursor: url('/cursor.svg') 2 2, auto;
}
